@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
/*@font-face
{
    font-family: "Lato
    src: url(../fonts/Lato/Lato-Regular.ttf);
    src: url(../fonts/Lato/Lato-Light.ttf);
    src: url(../fonts/Lato/Lato-Hairline.ttf);
    src: url(../fonts/Lato/Lato-Bold.ttf);
    src: url(../fonts/Lato/Lato-Black.ttf);
}*/
body {
    background: #FAFAFA;   /*#F2F2F2 | #E6E6E6*/ 
}
label {
    color: #F7F5F3;
    font-size: 13px;
    font-weight: 200;
}
a{
    color: #C0D72E;
}
a:hover{
    text-decoration: none;
}
.c-icon{
    color: #D8D8D8;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.container{
   text-align: center;
   margin-top: 4%;
}
.container-login{
    background: url(../img/fondo.png) no-repeat;
    background-position: center; 
}


/* =============== Login | Register | Forgot Password =============== */

/*Código de Verificación*/
.content-recaptcha{
    margin: 0 auto;
    width: 50%;
    margin-bottom: 5%;
}
/*Mantener Sesión*/
.content-remember{
    margin: 3% 0;
}
.content-remember label{
    color: #CFC2BD;
    font-style: italic;
    font-size: 12px;
}
/*Errores*/
.error_box{
    /*background: #fde2db;*/
    padding: 8px;
    /*border: 1px solid #fbc2b5;*/
    margin-bottom: 10px;
    margin-top: 5px;
    color: #ce3a40;
    /*border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
}
/*Formularios*/
.form-signin {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    padding: 3% 0;
    padding-bottom: 6%;
}
/*Container Logo*/
.form-signin-logo{
    padding: 4% 0% 0% 10%;
}
.form-signin-logo img{
    width: 27%;
}
.form-signin h2, .form-signin2 h3 {
    color: #FFF;
    font-family: "Lato", Arial; 
    font-size: 32px;
    font-weight: 300;
}

/*No se*/
.form-signin ,
.form-signin .checkbox {
    margin-bottom: 20px;
}
/*.form-signin .checkbox {
    font-weight: normal;
}*/
/*Input*/

/*Introducir Texto*/
.form-signin .form-control {
    background: none;
    border: none;
    color: #F7F5F3 !important;
    font-size: 13px;
    font-style: italic;
    height: 2.6em;
    margin-top: .5%;
    margin-left: -5%;
    padding-top: 3.5%;
    position: relative;
    width: 94%;   
}
.form-signin .form-control:focus {
    z-index: 2;
    outline:0px;
}
/*Boton Login*/
.form-signin input[type="submit"]{
    background: url(../img/fondo-btn.png) no-repeat;
    border: none;
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
    border-radius: .3em;
}
.form-signin input[type="submit"]:hover{
    background: #FFF;
    color: #000;
    opacity: .3;
}
/*Boton Recuperación de Contraseña*/
.form-signin2 input[type="submit"]{
    background: url(../img/fondo-btn2.png) no-repeat;
    border: none;
    color: #FFF;
    width: 55%;
    -webkit-appearance: button;
    cursor: pointer;
    padding: 2% 1%;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 6px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
.form-control:-moz-placeholder {
    color: #FAFAFA;
}
.form-control::-webkit-input-placeholder {
  color: #FAFAFA;
}
.form-control:-ms-input-placeholder {
    color: #FAFAFA;
}
.input-group{
    background: url(../img/fondo-control.png) no-repeat;
    background-size: 100% 120%;
    opacity: .7;
    padding-left: 1.5%;
    padding-top: 1%;
    /*box-shadow: 0px 0px 10px #848484;*/
    margin: 0 auto;
    margin-bottom: 2%;
    width: 50%;   
}
.input-group-addon{
    background: none;
    border: none;
}
.input-group .c-icon{
    color: #FFF;
    padding-left: 8%;
    padding-right: 7%;
}
.content-options{
    margin-top: 10%;
    padding: 0 13%;
}
.btn-options {
    background: url(../img/fondo-btn.png) no-repeat;
    padding: .2% 1%;
    float: left;
}
.btn-options a:hover{
    color: #DCF537;
}
/*Información extra Login*/
.container-login-extra{
    background: #F2F2F2;
    color: #909B9B;
    height: 6em;
    padding: 1% 2%;
    width: 70%; 
    margin:0 auto;
}
.container-login-extra .info{
    width: 75%;
    font-size: 15px;
    text-align: justify;
    float: left;
}
.container-login-extra .button{
    width: 20%;
    float:right;
}
.container-login-extra .button .btn{
    width: 100%;
    height: 3em;
}

/*Mensaje*/
.content-msg{
    background: url(../img/fondo.png) no-repeat;
    padding: 10%;
    margin-top: 5.5%;

}
.cont-msg{
    background: #F2F2F2;
    opacity: 0.7;
    height: 15em;
    padding: 3%;
    margin: 0 auto;
    width: 60%;
}
.cont-msg img{
    width: 60%;
}


/*Datos de Registro*/
.cont-user-data{
    background: url(../img/fondo.png) no-repeat;
    height:25em;
}
.user-data{
    padding: 2% 0;
    width: 40%;
    margin: 2% 30%;
}
.user-data label{
    font-size: 16px;
}
.user-data .input-group{
    background: #E6E6E6;
    width: 100%;
}
.user-data .btn-success{
    width: 50%;
    float: right;
}
/* =============== Menú =============== */
.menu{
    padding-left: 7%;
    padding-top: .5%;
}
.menu .logo{
    float: left;
    width: 30%;
}
.menu .logo img{
    width: 80%;
}
.menu .cont-menu{
    padding-left: 15%;
    padding-top: .3%;
    width: 65%; 
}
.menu .cont-menu li a:hover{
   color: #C0D72E;
   font-weight: 100;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #A4A4A4;
}
.navbar-inverse .navbar-toggle {
    border-color: #A4A4A4;
    background: #A4A4A4;
    opacity: .5;
}
.navbar-inverse:hover .navbar-toggle:hover{
    border-color: #A4A4A4;
    background: #A4A4A4;
    opacity: .7;
}

/* =============== Header General =============== */

/*Contenedor Inicial General*/
.cont-ini-gral, .cont-ini-gral-h, .cont-ini-gral-lower{
    background: url(../img/fondo.png) no-repeat;
    height: 35em;
    margin-top: -1%;
}
.cont-ini-gral{
    height: 25em;
}
.cont-ini-gral-lower{
    height: 20em;
    margin-top: 4%;
}
.cont-ini-gral-h .info-user, .cont-ini-gral .info-user{
    color:#FFF;
    font-size:16px;
    padding: 2% 8%; 
}
.cont-ini-gral .user, .cont-ini-gral-h .user{
    color:#FFF !important;
}
.cont-ini-gral-h .info-user .span2, .cont-ini-gral .info-user .span2{
    float: right;
}
/*Footer*/
 .cont-footer{
    background: #C1D72E;
    color: #FFF;
    margin-top: 7%;
    padding: 1% 5%;
    width: 101.1%;
 }
 .footer{
    background: #ADC129;
    font-size: 11px;
    padding: 1% 5%;
    color: #FFF;
 }
 .footer1 img{
    width: 70%;
 }
 .footer1 p{
    padding: 3% 4% 0 0;
 }
.footer2{
    font-size: 11px;
}
.footer2 h4{
    color: #FFF !important;
}
.footer3 {
    padding-top: 1%;
}
.footer3 img{
    width: 15%;
}
/* =============== Home =============== */

/*Gráficas*/
.graph{
    padding: 0 8%;
}
.graph .graph-mens{
    background: #FFFFFF;
    float: left;
    opacity: 0.5;
    width: 35%;
}
.graph .graph-anual{
    background: #F2F2F2;
    float: right;
    opacity: 0.5;
    width: 60%;
}

/*Contenido Home*/
.cont_principal h4{
    color: #969696;
}
.cont_principal .iva{
    background: #C0D72E;
    width: 86%;
    margin: 0 auto;
    padding: 1%;
}


/*Caja información del mes */
.cont-perfil-home{
     background: url(../img/fondo.png) no-repeat;
     margin-top: 3%;
}
.cont-perfil-home h3{
    color: #FFF;
    padding: 2% 0;
}
.cont-perfil-home img{
    width: 8%;
    margin: 3% 0 2% 0;
}
.cont-rows-home, .cont-rows-home2, .cont-rows-home3, .cont-rows-home4{
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}
.cont-rows-home2{
    width: 36%;
}
.cont-rows-home3{
    width: 55%;
}
.cont-rows-home4{
    width: 80%;
}
.rows-home, .rows-home2, .rows-home5{
    background: #FFF;
    border-bottom: 4px solid #F2F2F2;
    border-radius: .4em;
    height: 13em;
    margin-left: 9%;
    width: 18%;
}
.rows-home2{
    height: 10em;
    margin-left: 20%;
    width: 40%;
}
.rows-home5{
    height: 11em;
    margin-left: 6%;
    width: 20%;
}
.rows-home3{
    background: #F2F2F2;
    opacity: 0.7;
    height: 8em;
    margin-left: 4%;
    width: 21%;
}
.rows-home4{
    background: #FFF;
    border-bottom: 4px solid #F2F2F2;
    border-radius: .4em;
    height: 13em;
    margin-left: 9%;
    width: 18%;
}
.rows-home img{
    margin: 9% 0;
    width: 58%;
}
.rows-home .ajus-icon{
    width: 46%;
}
.rows-home2 img{
    width: 90%;
}
.rows-home5 img
{
    width: 80%;
}
.rows-home3 h6{
    color: #969696;
}
.rows-home .col-md-6{
    width: 100%;
}
.color-text{
    font-size: 1.5em;
    color: #A4A4A4;
}
/*Botones*/
.rows-home .button, .rows-home3 .button{
    background: #8b8c8c;
    color: #FFF;
    width: 90%;
    margin-top: 5%;
}
.rows-home3 .button{
    font-size: 12px;
}
.rows-home .button:hover, .rows-home3 .button:hover{
    background: #cddf37;
    border: none;
    font-weight: 100;
}
.rows-home3 .button{
    background: #cddf37;
}
.rows-home3 .button:hover{
    background: #C1D036;
}


.sub-title{
    background: #F2F2F2;
    color: #969696;
    padding: 1.2%;
    margin-top: 4%;
}

.color-form, .color-form2{
    background: #C0D72E;
    border-radius: 100%;
    font-size: 4em;
    padding: 7%;
    width: 1.5em;
    height: 1.5em;
}
.color-form2{
    background: #2D6DC6;
}

.title2{
    color: #C0D72E;
}


/*Bar Buttons*/
/*
.btn-group{
    width: 100%;
}
.btn-month{
    width: 8%;
}
.btn-month2{
    width: 9.6%;
}
.btn-month:hover, .btn-month:hover {
    background: #C0D72E !important;
    color: #FFF !important;
}

/*
.subtitle{
    color: #848484;
}
.subtitle-s{
    color: #0174DF;
    font-size: 1.5em;
}
.separator{
    color:#0489B1; 
}
.load-file input[type="submit"], .btn-load-file{
    background: #084B8A !important; 
    border: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    margin-bottom: 0;
    font-weight: 400;
    margin: 1% 0;
}*/

/* Notifications */
.msg{
    color: #848484 !important;
}

.cont-logo{
    background: #6E6E6E;
    height: 6em;
    padding-top: 2.3%;
    margin-bottom: 2%;
}

/* =============== Perfil =============== */
.title{
    background: #C1D72E;
    color: #FFF;
    margin: 0 auto;
    margin-top: 3%;
    padding: .5%;
    width: 84%;
}
.cont-perfil{
    margin-top: 2%;
}
.cont-perfil .list-group{
    margin-top: 2%;
}
.cont-perfil .list-group .item-perfil:nth-child(5){
    border-top: 1px solid #CDCDCD;
}
.c-perfil-1{
    height: 15em;
    width: 25%;
}
.c-perfil-2{
    height: 15em;
    width: 48%;
    padding: 1%;
}
.page-perfil .cont-ini-gral-lower
{
    padding: 2.5%;
}
.cont-perfil-pay-tax{
    background: #BDBDBD;
    color: #FFF;
    opacity: .9;
    margin: 0 auto;
    padding: .1%;
    width: 35%;
}
.cont-perfil-pay-tax span{
    font-size: 5em;
}
/*Modal*/
.page-perfil .modal-title, .page-perfil .form-group label{
    color: #6E6E6E;
}
/* =============== Movimientos =============== */
.info-bills{
    background: #F2F2F2;
    opacity: .3;
    margin: 0 auto;
    height: 17em;
    width: 35%;
}
.info-bills2{
    color: #FFF;
    width: 35%;
    margin: 0 auto;
    margin-top: -17%;
}
.info-bills2 h4{
    border-bottom: 1px solid #FFF;
    margin: 0 auto;
    width: 60%;
    padding: 3%;
    margin-bottom: 4%;
}
.info-bills2 .row{
    margin: 0 auto;
    width: 90%;
}
.cont-load{
    background: #ECEBEB;
    margin: 3% 0 9% 0;
    padding: 2%;
    width: 100%;
}
.form-load{
    margin: 0 auto;
    width: 45%;
}
.second{
    margin-top: 2%;
}
.third{
    font-size: 1.2em;
    padding: 2% 0 1% 0;
}

.third span{
     color: #C7DA43;
}
.form-load input[type="submit"]{
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 1em;
    height: 3.3em;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    width: 80%;
}

/*Boton Seleccionar Archivo*/
.form-load .icon{
    color: #C7DA43;
    float: right;
    font-size: 1.5em;
}
.form-load .btn{
    height: 3em;
    padding-top: 2.3%;
    font-size: 1.1em;
}
.form-load .btn-month{
    width: 108%;
    margin-left: -4%;
}
.file-input {
  cursor: pointer;
}
.wrapper-file-input {
  position: relative;
  overflow: hidden;
}
.wrapper-file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cont-p-page{
    margin:0 auto;
    padding-top: 2.6%;
    width:60%;
}
.p-page1, .p-page2{
    background: #BDBDBD;
    color: #FFF;
    height: 15em;
    opacity: .9;
    padding: 2%;
    width: 40%;
}
.p-page1 h2, .p-page2 h2{
    margin-top: 15%;
}
.p-page1 {
    float: left;
}
.p-page2{
    float: right;
}
/* =============== Historial =============== */
 .page-historial .subtitle{
    color: #969696;
 }
.cont-historial{
    background: #ECEBEB;
    margin: 3% 0 2% 0;
    padding: 2%;
}
.cont-search{
    margin: 0 auto;
    width: 85%;   
}
.cont-search h4{
    margin: 2% 0;
}
.cont-search select, .cont-search button{
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 1em;
    height: 3em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.info-historial{
    margin: 0 auto;
    width: 60%;
}
.info-title-historial{
    color: #C7DA43;
    font-size: 1em;
    margin-top: 3%;
}
.info-money-historial{
    background: #C7DA43;
    color: #FFF;
    margin: 0 auto;
    margin-top: 2%;
    padding: .1%;
    width: 80%;
}

.graph-2{
background: #FFFFFF;
margin: 0 auto;
opacity: 0.5;
width: 35%;
}
.historial-lower{
    padding: 2% 0;
    height: 33em;
}
/* =============== Cuentas por Pagar y Cobrar=============== */
.page-accounts .cont-persons{
    background: #ECEBEB;
    padding: 2%;
    margin: 3% 0 9% 0;
}
.page-accounts .list-group{
    background: #F1F1F1;
    border-radius: .5%;
    margin: 0 auto;
    padding: 1% 2%;
    width: 70%;
    /*background: blue;*/
}
.page-accounts .list-group-item{
    border-top: 1px solid #CDCDCD;
    color: #787777;
    height: 3em;
}
.page-accounts .list-group-item .s1{
   float:left;
   width: 75%;
}
.page-accounts .list-group-item .s2{
   float:right;
   font-size: 1.2em;
   width: 25%;
}
.page-accounts .list-group-item:nth-child(1){
    border-top: none;
}
.page-accounts .list-group-item:hover{
    background: #E6E6E6;
    border-radius: 1em;
}
/* =============== Resposive Design =============== */

@media screen and (max-width: 1200px){
    .form-signin h2{
        /*background: red;*/
    }
    /*Login*/
     .container-login-extra{
        height: 6em;
    }
    .form-signin {
        /*background: red;*/
        width: 40%;
    }
    .form-signin-logo img {
        width: 30%;
    }
    /*Datos Usuario*/
    .cont-user-data{
        height:20.5em;
    }
    /*Header*/
    .menu{
        padding-top: 0;
    }
    .menu .cont-menu{
        padding-left: 5%;
        padding-top: 0;
    }    
    .menu .logo img{
        width: 85%;
    }  

}

@media screen and (max-width: 1112px){
    .form-signin h2{
        /*background: blue;*/
    }
    /*Login*/
    .container-login-extra{
        
    }
    .form-signin {
        /*background: blue;*/
        width: 45%;
    }
    .form-signin-logo img {
        width: 33%;
    }
    
    /*Header*/
    .menu{
        padding-left: 7%;
    }
    .menu .cont-menu{
        width: 70%; 
    }
    .menu .logo img{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .form-signin h2{
        /*background: black;*/
    }
    /*Login*/
    .container-login-extra{
        height: 7em;
    }
    .form-signin {
        /*background: black;*/
        width: 55%;
    }
    .form-signin-logo img {
        width: 35%;
    }
     /*Datos Usuario*/
    .user-data{
        width: 50%;
        margin: 2% 25%;
    }
    /*Mensaje*/
    .content-msg{ margin-top: 10%; }
    .cont-msg img{ width: 75%; }
    
    
    /*Header*/
    .menu{
        padding-left: 2%;
        padding-top: 0%;
    }
    .menu .cont-menu{
        font-size: 13px;
        padding-left: .5%;
        padding-top: .8%;
        width: 65%;
        float: right;    
    }
    .menu .cont-menu li a{
        padding: 10px 6.4px;
    }
    .menu .logo{ 
        width: 35%;
    }
    .menu .logo img{
        width: 90%;
    }
    /**/
    .cont-logo img{
        margin-top: 1%;
    }
}

@media screen and (max-width: 768px){  
    .form-signin h2{
        /*background: yellow;*/
    }   
    /*Login*/
    .container-login-extra{
        height: 9em;
    }
    .container-login-extra .button, .container-login-extra .info{
        float: none;
    }
    .container-login-extra .button .btn-success{
        width: 30%;
        margin: 1% 35%;
    }    
    .form-signin {
        /*background: yellow;*/
        width: 70%;
    }
    .form-signin-logo img {
        width: 45%;
    }
    /*Datos Usuario*/
    .cont-user-data{
        height: 19.5em;
    }
    .user-data{
        width: 70%;
        margin: 2% 15%;
    }
    /*Mensaje*/
    .content-msg{ margin-top: 20%; }
    .cont-msg{ width: 70%; }
    .cont-msg img{ width: 85%; }

    /*Header*/
    .menu{
        padding-left: 7%;
        margin-top: -3%;
    }
    .menu .cont-menu{
        font-size: 14px;
        width: 100%; 
    }
    .menu .collapse{
        padding-left: .5%;
    }
    .menu .logo{ 
        padding-top: 1%;
        width: 45%;
    }
    
    /*Contenedor Gral - Info. Usuario*/
    .cont-ini-gral-h, .cont-ini-gral{
        margin-top: -5%;
    }
    /**/
    .cont-logo img{
        margin-top: 1.5%;
    }
}

@media screen and (max-width: 600px){
    .form-signin h2{
        /*background: green;*/
    }
    /*Login*/
    .container-login-extra{
        height: 10em;
        margin-bottom: 3%;
    }
    .container-login-extra .button .btn-success{
        width: 35%;
    }  
    .form-signin {
        /*background: green;*/
        width: 90%;
    }
    .form-signin-logo img {
        width: 50%;
    }
   /*Mensaje*/
    .content-msg{ margin-top: 25%; }
    .cont-msg{ height: 17em; }
    .cont-msg img{ width: 100%; }

    .content-recaptcha-span1, .content-recaptcha-span2{
        float: none;
    }
    .content-recaptcha-span2 input{
        margin: 0 auto;
        margin-top: 5%;
        width: 100%;
    } 
    /*Header*/
    .menu{
        margin-top: -4%;
    }
    .menu .logo{ 
        width: 55%;
    }
    /*Contenedor Gral. - Info. Usuario*/
    .cont-ini-gral-h, .cont-ini-gral{
        margin-top: -6%;
    }
    .cont-ini-gral-h .info-user, .cont-ini-gral .info-user{
        height: 4.5em;
    }
    .cont-ini-gral-h .info-user .span2, .cont-ini-gral .info-user .span2{
        float: left; 
    }

    
}

@media screen and (max-width: 480px){
    .form-signin h2{
        /*background: cyan;*/
    }
    /*Login*/
    .container-login-extra{
        height: 11em;
        width: 90%;
        margin-bottom: 5%;
    }
    .container-login-extra .button .btn-success{
        width: 40%;
        margin: 1% 30%;
    }
    .container-login h2{
        font-size: 25px;
    }
    .form-signin {
        /*background: cyan;*/
        padding-bottom: 15%;
        width: 100%;
    }
    .form-signin-logo{
        text-align: center;
        padding: 4% 0% 0% 0%;
     }
    .form-signin-logo img{
        width: 90%;
    }
    .input-group{
        width: 80%;
    }
    .btn-options{
        font-size: 11.4px;
        padding-top: 1%;
    }
    .form-signin2 h3{
        font-size: 20px;
    }
    .form-signin2 input[type="submit"]{
        margin-top: 2%;
        width: 80%;
    }    
    .form-signin input[type="submit"]{
        background: url(../img/fondo-btn2.png) no-repeat;
        width: 80%;
    }    
    .content-recaptcha{
        width: 80%;
    }
     .input-group .c-icon{
        padding-left: 7%;
        padding-right: 6%;
    }
    /*Header*/
    .menu{
        margin-top: -10%;
    }
    .menu .logo{ 
        padding-top: 3%;
        width: 80%;
    }
    .menu .logo img{
        width: 100%;
    }

    /*Contenedor Gral. - Info. Usuario*/
    .cont-ini-gral-h, .cont-ini-gral{
        margin-top: -13%;
    }
    .cont-ini-gral-h .info-user, .cont-ini-gral .info-user{
        height: 4em;
    }


    /*Datos Usuario*/
    .cont-user-data{
        height: 19em;
    }
    .user-data{
        margin: 2% 2.5%;
        width: 95%;     
    }



    /*Mensaje*/
    .content-msg{ margin-top: 30%;  }
    .cont-msg{ height: 17em; width: 90%; }
    .cont-msg img{ width: 100%;  }

    .cont-logo img{
        width: 80%;
        margin-top: 6%;
    }
}



